.left-menu {
    display: inline-block; 

    position: absolute;
    top: 95px;
    z-index: 10000;
    bottom: 0;
    min-width: 200px;

    height: 100vh;

    font-family: play;
    font-size: 100%;
    color: #CCE3F4;

    padding-top: 10px;
    margin: 5px 5px 5px 7px;
    
    border-right: thin solid #444;
    border-top: thin solid #444;

    overflow-y: auto;
    background: inherit;
}

.slave-menu-head {
    vertical-align: middle;
    margin: 10px 20px 10px 20px;
}

.slave-menu-elem {
    line-height: 35px; /* provides vert-align */
    vertical-align: top;
    margin: 1px 20px 10px 30px;
    font-size: 100%;
}

.slave-menu-elem:hover {
    color: #849aaa;
    cursor:pointer;
}

.selected-slave {
    border-bottom: 1.5px solid;
}

.selected-slave:before {
    content:"\2192\0020";
    color: #849aaa;
}