.left-menu {
    position: absolute;
    top: 110px;
    z-index: 10000;
    bottom: 0;
    min-width: 190px;

    font-family: play;
    font-size: 16px;
    color: #CCE3F4;
    padding-top: 10px;
    margin: 5px 5px 5px 7px;
    display: inline-block;

    border-width: 1px;
    border-right: thin solid #444;
}

.slave-menu-head {
    line-height: 35px; /* provides vert-align */
    vertical-align: middle;
    padding-left: 30px;
}

.slave-menu-elem {
    line-height: 30px; /* provides vert-align */
    vertical-align: middle;
    border-width: 1px;
    border-radius: 8px;
    border: thin solid #444;
    padding-left: 25px;
    margin-right: 40px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.slave-menu-elem:hover {
    color: #849aaa;
    cursor:pointer;
}


.selected-slave {
    background: #555;
}