@font-face {
  font-family: play;
  src: url(./PLAY-REGULAR.TTF);
}

body {
    background: #161616;
    color: #C1C1C0;
    overflow-y: hidden;
    overflow-x: auto;
    #min-width: 1200px;
    margin: 0;
    font-family: play;
}

table {
    border-collapse: collapse;
    font-size: 80%;
    width: auto;
    margin: 0 20px 0 0;
}


th {
    background-color: #849aaa;
    color: #111;
    font-weight: bold;
}


tr {
    background-color: #272727;
    height: 30px;
}

tr:nth-child(even) {background-color: #222}

th, td {
	padding: 3px 5px;
    text-align: left;
}

.table-nav {
    font-size: 80%;
    text-align: center;
}

.table-nav-wrapper {
    display: table;
}

.custom-button {
    display: block;
    float: none;
    z-index: auto;
    background: #a2b4c2;
    color: #fff;
    margin: 0 auto;
    display: table-cell;
    padding: 10px 20px;
    overflow: visible;
    width: 100%;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-overflow: clip;
}

.custom-button:hover {
    background: #849aaa;
    cursor:pointer;
}

.warning-text {
    font-size: 80%;
    color: crimson;
}

#content-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  z-index: 100;
  #border: 1px solid yellow;
}

#content-preceder {
  position: relative;
  top: 0;
  bottom: 0;
  height: 110px;
  #border: 1px solid red;
}

#content-body {
  position: relative;
  top: 0px;
  left: 220px;
  right: 0;
  width: 70%;
  padding: 0 10px 0 10px;    
  #border: 1px solid green;
}

#content-body a {
  color: #CCE3F4;
  border-bottom: 1px dotted #CCE3F4;
}

#content-body a:hover {
  color: #a2b4c2;
  border-bottom: dotted #CCE3F4;
  text-decoration: none;
  outline: none;
}

#content-body h2 {
	color: #f4f4f4;
    font-size: 140%;
}

.login-table table, .login-table tr, .login-table td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
} 



