@font-face {
  font-family: play;
  src: url(./PLAY-REGULAR.TTF);
}

body {
    background: #161616;
    color: #C1C1C0;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 1200px;
    margin: 0;
    font-family: play;
}

table {
    border-collapse: collapse;
    padding-left: 10px;
    font-size: 14px;
    margin: auto;
    width: auto;
    border: none;
}

th {
    background-color: #849aaa;
    color: #111;
    font-weight: bold;
}


tr {
    background-color: #333;
}

tr:nth-child(even) {background-color: #222}

th, td {
	padding: 3px 5px;
    text-align: left;
}

.table-nav {
    font-size: 12px;
    text-align: center;
}

.custom-button {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: 120px;
    height: 30px;
    background: gold;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-overflow: clip;
}

.custom-button:hover {
    background: goldenrod;
    cursor:pointer;
}

.warning-text {
    font-size: 14px;
    color: crimson;
}

#content-wrapper {
  position: absolute;
  top: 130px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  z-index: 100;
}

#content-body {
  position: absolute;
  top: 0px;
  left: 200px;
  padding: 0 10px 0 10px;
}

#content-body a {
  color: #CCE3F4;
  border-bottom: 1px dotted #CCE3F4;
}

#content-body a:hover {
  color: #a2b4c2;
  border-bottom: dotted #CCE3F4;
  text-decoration: none;
  outline: none;
}

#content-body h2 {
	color: #f4f4f4;
}
